In [42]:
import numpy as np
import pandas as pd
data=pd.read_csv("./day08_Narrativedata.csv")
data.loc[:,"Age"]=data.loc[:,"Age"].fillna(data.loc[:,"Age"].median())

In [43]:
data=data.drop("Unnamed: 0",axis=1)

In [44]:
#由于Sex,Embarked,Survived特征的值是英文，不是数字
#LabelEncoder为将文字标签转为数值标签，输入的是一维
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y_=le.fit_transform(data.loc[:,"Survived"])
#获得标签的分类
le.classes_
data.loc[:,"Survived"]=y_
data.iloc[:,1:-1]
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       889 non-null    float64
 1   Sex       889 non-null    object
 2   Embarked  889 non-null    object
 3   Survived  889 non-null    int32
dtypes: float64(1), int32(1), object(2)
memory usage: 31.3+ KB

In [45]:
#将特征中非数值特征转为数值特征(OrdinalEncoder)
from sklearn.preprocessing import OrdinalEncoder
data_=data.copy()
oe=OrdinalEncoder()
data_.iloc[:,1:-1]=oe.fit_transform(data_.iloc[:,1:-1])
#特征的分类
oe.categories_
# data_.iloc[:,1:-1]=OrdinalEncoder(categories='auto').fit_transform(data_.iloc[:,1:-1])

[array(['female', 'male'], dtype=object), array(['C', 'Q', 'S'], dtype=object)]

In [46]:
# 但是由于舱门和性别是相互独立的，要么是这个，要么就是那个，不能两者皆是，这种变量叫做名义变量。
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(categories="auto")
results=ohe.fit_transform(data.iloc[:,1:-1]).toarray()

In [47]:
results

array([[0., 1., 0., 0., 1.],
       [1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 1.],
       ...,
       [1., 0., 0., 0., 1.],
       [0., 1., 1., 0., 0.],
       [0., 1., 0., 1., 0.]])

In [48]:
ohe.get_feature_names().tolist()

['x0_female', 'x0_male', 'x1_C', 'x1_Q', 'x1_S']

In [49]:
data=pd.concat([data,pd.DataFrame(results)],axis=1)

In [52]:
data.drop(["Sex","Embarked"],inplace=True,axis=1)
data.dropna(inplace=True)
# data.columns=ohe.get_feature_names().tolist()

In [55]:
data.columns=["Age","Survived",'x0_female', 'x0_male', 'x1_C', 'x1_Q', 'x1_S']
data

      Age  Survived  x0_female  x0_male  x1_C  x1_Q  x1_S
0    22.0       0.0        0.0      1.0   0.0   0.0   1.0
1    38.0       2.0        1.0      0.0   1.0   0.0   0.0
2    26.0       2.0        1.0      0.0   0.0   0.0   1.0
3    35.0       2.0        1.0      0.0   0.0   0.0   1.0
4    35.0       0.0        0.0      1.0   0.0   0.0   1.0
..    ...       ...        ...      ...   ...   ...   ...
884  25.0       0.0        0.0      1.0   0.0   0.0   1.0
885  39.0       0.0        1.0      0.0   0.0   0.0   1.0
886  27.0       0.0        1.0      0.0   0.0   0.0   1.0
887  19.0       2.0        0.0      1.0   1.0   0.0   0.0
888  28.0       0.0        0.0      1.0   0.0   1.0   0.0

[887 rows x 7 columns]