In [103]:
#Tsai Tsai
'''
在建模中，需要对连续变量离散化，特征离散化后，模型会更稳定，降低了模型过拟合的风险
处理连续型特征：二值化与分段
sklearn.preprocessing.Binarizer
根据阈值将数据二值化（将特征值设置为0或1），用于处理连续型变量。大于阈值的值映射为1，而小于或等于阈
值的值映射为0。默认阈值为0时，特征中所有的正值都映射到1。二值化是对文本计数数据的常见操作，分析人员
可以决定仅考虑某种现象的存在与否。它还可以用作考虑布尔随机变量的估计器的预处理步骤（例如，使用贝叶斯设置中的伯努利分布建模）
'''
from sklearn.preprocessing import Binarizer
import pandas as pd
data=pd.read_csv("./day08_Narrativedata.csv")
data.drop("Unnamed: 0",axis=1,inplace=True)

In [104]:
data

      Age     Sex Embarked Survived
0    22.0    male        S       No
1    38.0  female        C      Yes
2    26.0  female        S      Yes
3    35.0  female        S      Yes
4    35.0    male        S       No
..    ...     ...      ...      ...
886  27.0    male        S       No
887  19.0  female        S      Yes
888   NaN  female        S       No
889  26.0    male        C  Unknown
890  32.0    male        Q       No

[891 rows x 4 columns]

In [105]:
data.loc[:,"Age"]=data.loc[:,"Age"].fillna(data.loc[:,"Age"].median())
data

      Age     Sex Embarked Survived
0    22.0    male        S       No
1    38.0  female        C      Yes
2    26.0  female        S      Yes
3    35.0  female        S      Yes
4    35.0    male        S       No
..    ...     ...      ...      ...
886  27.0    male        S       No
887  19.0  female        S      Yes
888  28.0  female        S       No
889  26.0    male        C  Unknown
890  32.0    male        Q       No

[891 rows x 4 columns]

In [106]:
data.dropna(inplace=True)

In [107]:
data.loc[:,"Survived"].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [108]:
#对Survived标签进行处理
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data.loc[:,"Survived"]=le.fit_transform(data.loc[:,"Survived"].values.reshape(-1,1))
le.classes_

E:\anaconda3\envs\tensorflow\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

array(['No', 'Unknown', 'Yes'], dtype=object)

In [109]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       889 non-null    float64
 1   Sex       889 non-null    object
 2   Embarked  889 non-null    object
 3   Survived  889 non-null    int32
dtypes: float64(1), int32(1), object(2)
memory usage: 31.3+ KB

In [110]:
#对标签里面的非数值数据进行处理,由于舱门和性别都是名义变量，所以使用独热编码
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
ohe=OneHotEncoder(categories="auto")
results=ohe.fit_transform(data.iloc[:,1:-1]).toarray()
data=pd.concat([data,pd.DataFrame(results)],axis=1)

In [111]:
data.drop(["Sex","Embarked"],axis=1,inplace=True)

In [112]:
data.dropna(inplace=True)

In [119]:
ohe.get_feature_names()

array(['x0_female', 'x0_male', 'x1_C', 'x1_Q', 'x1_S'], dtype=object)

In [120]:
data.columns=["Age","Survived",'x0_female', 'x0_male', 'x1_C', 'x1_Q', 'x1_S']
data

      Age  Survived  x0_female  x0_male  x1_C  x1_Q  x1_S
0    22.0       0.0        0.0      1.0   0.0   0.0   1.0
1    38.0       2.0        1.0      0.0   1.0   0.0   0.0
2    26.0       2.0        1.0      0.0   0.0   0.0   1.0
3    35.0       2.0        1.0      0.0   0.0   0.0   1.0
4    35.0       0.0        0.0      1.0   0.0   0.0   1.0
..    ...       ...        ...      ...   ...   ...   ...
884  25.0       0.0        0.0      1.0   0.0   0.0   1.0
885  39.0       0.0        1.0      0.0   0.0   0.0   1.0
886  27.0       0.0        1.0      0.0   0.0   0.0   1.0
887  19.0       2.0        0.0      1.0   1.0   0.0   0.0
888  28.0       0.0        0.0      1.0   0.0   1.0   0.0

[887 rows x 7 columns]

In [121]:
#开始对连续的数据特征进行二值化
data_2=data.copy()

In [122]:
data_2

      Age  Survived  x0_female  x0_male  x1_C  x1_Q  x1_S
0    22.0       0.0        0.0      1.0   0.0   0.0   1.0
1    38.0       2.0        1.0      0.0   1.0   0.0   0.0
2    26.0       2.0        1.0      0.0   0.0   0.0   1.0
3    35.0       2.0        1.0      0.0   0.0   0.0   1.0
4    35.0       0.0        0.0      1.0   0.0   0.0   1.0
..    ...       ...        ...      ...   ...   ...   ...
884  25.0       0.0        0.0      1.0   0.0   0.0   1.0
885  39.0       0.0        1.0      0.0   0.0   0.0   1.0
886  27.0       0.0        1.0      0.0   0.0   0.0   1.0
887  19.0       2.0        0.0      1.0   1.0   0.0   0.0
888  28.0       0.0        0.0      1.0   0.0   1.0   0.0

[887 rows x 7 columns]

In [123]:
#对年龄进行二值化，大于阈值则设置为1，小于阈值则设置
br=Binarizer(threshold=30)
age=br.fit_transform(data_2.loc[:,"Age"].values.reshape(-1,1))
age

array([[0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.]])

In [157]:
from sklearn.preprocessing import KBinsDiscretizer
data_3=data.copy()

In [158]:
data_3

      Age  Survived  x0_female  x0_male  x1_C  x1_Q  x1_S
0    22.0       0.0        0.0      1.0   0.0   0.0   1.0
1    38.0       2.0        1.0      0.0   1.0   0.0   0.0
2    26.0       2.0        1.0      0.0   0.0   0.0   1.0
3    35.0       2.0        1.0      0.0   0.0   0.0   1.0
4    35.0       0.0        0.0      1.0   0.0   0.0   1.0
..    ...       ...        ...      ...   ...   ...   ...
884  25.0       0.0        0.0      1.0   0.0   0.0   1.0
885  39.0       0.0        1.0      0.0   0.0   0.0   1.0
886  27.0       0.0        1.0      0.0   0.0   0.0   1.0
887  19.0       2.0        0.0      1.0   1.0   0.0   0.0
888  28.0       0.0        0.0      1.0   0.0   1.0   0.0

[887 rows x 7 columns]

In [159]:
data_3.loc[:,"Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
884    25.0
885    39.0
886    27.0
887    19.0
888    28.0
Name: Age, Length: 887, dtype: float64

In [160]:
#uniform表示的是等宽分箱即(最大值-最小值)/分箱数
k_bins=KBinsDiscretizer(n_bins=3,encode="ordinal",strategy="uniform")
data_3.loc[:,"Age"]=k_bins.fit_transform(data_3.loc[:,"Age"].values.reshape(-1,1))
data_3.loc[:,"Age"]

0      0.0
1      1.0
2      0.0
3      1.0
4      1.0
      ...
884    0.0
885    1.0
886    1.0
887    0.0
888    1.0
Name: Age, Length: 887, dtype: float64

In [161]:
#等频分箱
data_4=data.copy()
k_bins_quantile=KBinsDiscretizer(n_bins=3,encode="ordinal",strategy="quantile")
data_4.loc[:,"Age"]=k_bins_quantile.fit_transform(data_4.loc[:,"Age"].values.reshape(-1,1))
data_4.loc[:,"Age"]

0      0.0
1      2.0
2      1.0
3      2.0
4      2.0
      ...
884    1.0
885    2.0
886    1.0
887    0.0
888    1.0
Name: Age, Length: 887, dtype: float64

In [163]:
#kmeans分箱
data_5=data.copy()
k_bins_quantile=KBinsDiscretizer(n_bins=3,encode="ordinal",strategy="kmeans")
data_5.loc[:,"Age"]=k_bins_quantile.fit_transform(data_5.loc[:,"Age"].values.reshape(-1,1))
data_5.loc[:,"Age"]

0      0.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
884    1.0
885    1.0
886    1.0
887    0.0
888    1.0
Name: Age, Length: 887, dtype: float64