In [11]:
#使用numpy和pandas进行数据的填充
import numpy as np
import pandas as pd
data=pd.read_csv("./day08_Narrativedata.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  891 non-null    int64
 1   Age         714 non-null    float64
 2   Sex         891 non-null    object
 3   Embarked    889 non-null    object
 4   Survived    891 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 34.9+ KB

In [14]:
#对Age这一列数据进行填充
data.loc[:,"Age"]=data.loc[:,"Age"].fillna(data.loc[:,"Age"].median())
data

     Unnamed: 0   Age     Sex Embarked Survived
0             0  22.0    male        S       No
1             1  38.0  female        C      Yes
2             2  26.0  female        S      Yes
3             3  35.0  female        S      Yes
4             4  35.0    male        S       No
..          ...   ...     ...      ...      ...
886         886  27.0    male        S       No
887         887  19.0  female        S      Yes
888         888  28.0  female        S       No
889         889  26.0    male        C  Unknown
890         890  32.0    male        Q       No

[891 rows x 5 columns]

In [17]:
#由于Embarked中缺失的数据比较少（2条）则可以直接删除
data.dropna(inplace=True)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  889 non-null    int64
 1   Age         889 non-null    float64
 2   Sex         889 non-null    object
 3   Embarked    889 non-null    object
 4   Survived    889 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 41.7+ KB